<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title>{{title}}</title>
    <link rel="stylesheet" href='/stylesheets/main.css'>
    <script src='https://cdn.firebase.com/js/client/1.0.6/firebase.js'></script>
    <script src='javascript/jquery-1.11.0.min.js'></script>
    <script src='javascript/MediaStreamRecorder.js'></script>
    <script src='javascript/mainA.js'></script>
</head>
<body>

    <div>Welcome to {{title}}, enable camera to post video emoji!</div>
    <div id="waiting">Connecting to chat server...</div>
    <div id="second_counter"></div>
    <div id="conversation"></div>
    <div id="submission">
      <input type="text" placeholder="say something..">
      <button>Get Reaction!</button>
    </div>
    <div id="webcam_stream"></div>
    <div id="video_container"></div>

</body>
</html>