<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title>CS247 Project 3</title>
	<link rel="stylesheet" href='/stylesheets/main.css'>
</head>
<body>

    <div>Welcome to {{title}}! Select one of the two prototypes below to get started.</div>
  	<a href="/versionA">Prototype A</a>
  	<a href="/versionB">Prototype B</a>

</body>
</html>